.main {
  .orders__layout {
    background-color: var(--main-bg);
    border: 1px solid var(--main-bg);
    padding: 20px 50px;
    border-radius: 10px;

    @media screen and (max-width: 750px) {
      padding: 20px;
    }

    .actions {
      display: flex;
      align-items: center;

      .new__order {
        background-color: var(--button-primary-bg);
        color: var(--bg-white);
      }
    }
  }
}
