.order__list {
  padding: 20px;
  border: 1px solid #dddddd;
  margin-top: 20px;
  border-radius: 10px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table {
  width: 100%; /* Ensure the table takes up the full width of the container */
  border-collapse: collapse; /* Ensure borders collapse to make the table look cleaner */
}

.head,
.body {
  padding: 10px;
  text-align: left;
}

.head {
  font-size: 16px;
  color: var(--text-primary-color);
  font-weight: 500;
}

.body {
  font-size: 14px;
  color: var(--text-secondary-color);
  font-weight: 400;
  height: 60px;
}

.view {
  width: 100px;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid var(--button-primary-bg);
  color: var(--button-primary-bg);
  font-weight: 500;
}

@media (max-width: 768px) {
  .head,
  .body {
    font-size: 12px;
    padding: 8px;
  }

  .view {
    width: 80px;
    font-size: 10px;
  }

  .body td {
    width: 200px;
  }
}
